.boxpcs, .boxpcsinside, .testspecbox { margin-bottom: 6px; }

.SubTitle {color: #666666;font-weight: normal;font-size: 1.5em;padding:0;margin:0;}
.MainTitle {color: #cc0000;font-weight: bold;font-size: 1.8em;font-family: Verdana, Arial, Helvetica, sans-serif;margin:0;padding:5px 0 0 0;}
.article p.introtext, .introtext {color: #000000;font-weight: bold;font-size: 1.2em;font-family: Verdana, Arial, Helvetica, sans-serif;clear:both;padding:4px 0 0 0;line-height: 1.3em;}
.dropcap {font-size:4.5em;line-height:0.6em;font-weight:bold;float:left;padding-right:1px;padding-top:0.12em}
.software {font-style:italic}
.itemtitle {font-family: Verdana, Arial, Helvetica, sans-serif;color: #CC0000;margin-top:10px;background-position:left 0.3em;font-weight:bold;margin-bottom:10px;font-size:1.3em;text-indent:35px}
itemformat, .article p.subhead {display:block;color: #999999;font-size:1.3em;margin:0 0 5px 0;}
.itemauthor {font-weight:bold; }
img {border:0}
.bodycrosshead {font-family: Verdana, Arial, Helvetica, sans-serif;margin-top:10px;background-position:left 0.3em;text-align:left;font-weight:bold;margin-bottom:10px;font-size:1.2em;text-indent:40px}
.bodycrosshead a, .xhead a {color: #cc0000}
.boxhead a, .xhead a {color:#fff;margin-left:40px;}
.bodycrossheadb, .bodycrosshead, .boxhead, .xhead, .itemtitle {cursor:pointer;background-repeat:no-repeat;background-position: -10px -6px;}
.bodydrop{color: #333333; margin-bottom:6px; line-height: 1.4em}
.bodyf {color: #333333; margin-bottom:6px;line-height: 1.4em}
p.nindent {text-indent:0}
.article p:not([class]), .bodyi {color: #333333; margin-bottom:6px;text-indent:12px;line-height: 1.4em}
.bodyauthor{color: gray;font-weight:bold; font-style:italic; font-size:1em;border-top: dashed 1px white;width: 100%;margin-top: 3px; padding-top:4px;padding-bottom:5px}
div.prosconshead, div.prosconsheadb { color: #CC0000; font-weight: bold; font-size: 12px; padding-bottom: 3px; }
div.prosconsbullet, div.prosconsnobullet, div.testspecbullet {padding-left: 10px;font-size:0.9em}
p.prosconsbullet {font-size:0.9em;background-position: -174px -76px;padding-left:8px;}
p.boxtextbullet {font-size:0.9em;background-position: -174px -76px;padding-left:8px;}
.infoP, .infoT, .infoF, .infoE, .infoW {background-repeat:no-repeat;background-position:left 0.2em;padding-left:15px;}
.infoP {background-position: -10px -112px;}
.infoT {background-position: -10px -144px;}
.infoF {background-position: -10px -778px;}
.infoE {background-position: -10px -182px;}
.infoW {background-position: -10px -214px;}
div.prosconsbullet, div.testspecbullet {background-repeat:no-repeat;background-position: -174px -76px;}
div.prosconssubhead, div.testspechead{color:#c00;font-size:1em;font-weight:bold;border-top:solid 1px #000000;padding-bottom:3px;margin-top:2px}
.imagecredit, .credit {clear: both;margin-bottom:4px;font-size:0.9em;text-align:right;font-style:italic;display:block;margin-top:2px;}
.imagecaption {color:#666;clear:both;margin-bottom:4px;font-size:0.9em;text-align:left;margin-top:2px}
.boxhead {color:#fff;font-weight:bold;font-size:1em;background-color:#000000;background-position:0 -6px;padding: 3px 30px 3px 40px;}
.boxf {color:#000;background-color:#DCDCDC;padding: 0 8px 3px 8px;text-align:left;margin:6px 0 0 0;}
.boxi {color:#000;background-color:#DCDCDC;padding: 3px 8px 3px 8px; text-indent: 10px;}
.boxholder {background-color:#000;width:60%;float:right;margin:5px}
.bodybullet	{margin-bottom:3px;background-position: -174px -76px;padding-left:10px;font-weight:bold}
.boxbullet {color:#000;background-color:#DCDCDC;background-position: -174px -76px;padding: 0 8px 3px 18px;}
itemprice, .contactspriceuk, .contactspriceus, .contactstelephone, .contactsfax, .contactsemail, .contactswww {
	color: #000000;padding-top: 1px;padding-bottom: 1px;padding-left:16px;
}
itemprice, .contactspriceuk, .contactspriceus {background-position: -10px -112px;}
.contactstelephone {background-position: -10px -144px;}
.contactsfax {background-position: -10px -778px;}
.contactsemail {background-position: -10px -182px;}
.contactswww {background-position: -10px -214px;}

.tgb { margin: 0;padding: 0; float: right; color: #fefefe; font-size: 1px; }

.Published{font-size: 10px;color: #cc0000;padding-top:8px;float:right;text-align:right;}
.artimage {float:right;margin: 10px 0 5px 10px;padding:6px;background:#F5F5F5;border:1px solid #A9A9A9;text-indent:0px;clear:both;width:200px;}
.inline.artimage {width:300px;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
/**{padding: 0; margin: 0;}*/

html, body {
min-height: 100%;
height: auto !important;
height: 100%
}
.boxout{background:#ddd;padding-bottom:5px;clear:both;}
.boxout .contactstelephone, .boxout .contactsemail, .boxout .contactswww {margin-left:5px}
.pdf {float:right}
#lozenge, #lozenge, #print, .contactsfax, .contactsemail, .contactswww, itemprice, .contactspriceuk, .contactspriceus, .prosconsbullet, .testspecbullet, .infoP, .infoT, .infoF, .infoE, .info, .bodybullet, .boxbullet, .boxtextbullet,.bodycrossheadb, .bodycrosshead, .boxhead, .xhead, .itemtitle, .prosconsbullet li, .testspecbullet li, .contactstelephone  {background-image:url('/images/s.png');background-repeat:no-repeat;}
#lozenge {display:inline-block;height:12px;width:18px;background-position:-10px -479px;}
#print {
  height: 16px;
  background-position: -10px -316px;
  padding: 2px 0 0 20px;
  display: block;
  margin-top: 6px;
  float: right;
}
#addthis {
  margin-top:5px;
  float:right;
  clear:both;
}

/*--------------------------------------*/
/* Required for migration to Drupal CMS */
.article .artimage {width:auto;}
.article h2 {
  margin: 10px 0 10px 0;
}
.article h2 a, .infop, .infot, .infof, .infoe, .infow, .sos_end, .infoa {
  background: url('/images/s.png?a') 0 0 no-repeat;
}
.article h2 a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-position: -0.5em -0.5em;
  font-weight: bold;
  text-indent: 40px;
  color: #000;
  cursor: pointer;
  background-repeat: no-repeat;
  display: block;
  font-size: 0.8em;
}
.boxout h2 {
  margin: 0 0 0.3em 0;
}
.boxout h2 a {
  background-color: #000;
  color: #fff;
  padding: 0.1em 0 0.2em 0;
  background-position-x: -0.1em;
}
.boxout p, .boxout table {
  margin: 0 10px 5px 10px;
}
.boxout ul {
  margin: 0 0 4px -14px;
}
.boxout {
  margin-top: 10px;
}
.boxout .media-vimeo-outer-wrapper, .boxout .media-youtube-video {
  margin: 0 0 10px 10px;
}
.media-image-right, .media-image-left {
  float: right;
  margin: 10px 0 5px 10px;
  padding: 6px;
  background: #F5F5F5;
  border: 1px solid #A9A9A9;
  text-indent: 0px;
  clear: both;
}
.media-image-left {
  float: left;
  margin: 10px 10px 5px 0;
}
.file-media-original {
	background: none;
	border: none;
}
span.media-image-right .media-image-right, div.artimage .media-image-right{
  margin: -6px;
  border: 0;
  float: none;
}
span.media-image-left .media-image-left, div.artimage .media-image-left{
  margin: -6px;
  border: 0;
  float: none;
}
div.boxout .media-image-right {
  margin-right: 0.8em;
}
div.boxout .media-image-left {
  margin-left: 0.8em;
}
.article p, .article .dropcap {
  color: #333333;
}
.article p {
  line-height: 1.4em;
}
.sos_end {
  display: inline-block;
  overflow: hidden;
  height: 11px;
  width: 18px;
  margin-left: 5px;
  background-position: -10px -480px;
}
.infop, .infot, .infof, .infoe, .infow, .infoa {
  padding-left:15px;
  margin: 0.2em 0 0.2em 0;
}
.infop {background-position: -10px -112px;}
.infot {background-position: -10px -144px;}
.infof {background-position: -10px -781px;}
.infoe {background-position: -10px -182px;}
.infow {background-position: -10px -214px;}
.infoa { background-position: -10px -1150px;}
.article p.bodyauthor {
  padding: 0;
  color: gray;
}
.introtext {
  margin: 5px 0 0 0;
}
.caption {
  line-height: 1.2em;
  margin: 0;
  padding: 0;
}
.article li, .boxout td {
  color: #333;
  line-height: 1.4em;
}
.article .starrating {
  color: #fff;
  font-weight: bold;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  height: 0;
  visibility: hidden;
}
.article p.author {
  border: 0;
  font-size:1.1em;
}
/*
.boxpcsinside p, .boxpcs p {margin:0;font-size:1em;}
ul.prosconsbullet, ul.testspecbullet {list-style:none;font-size:0.9em;margin:0 0 0 -40px;}
.prosconsbullet li, .testspecbullet li {display:block;padding-left:10px;margin-left:0px;background-position: -174px -76px;background-repeat:no-repeat;}
.prosconssubhead {margin-top:4px}
p.prosconsnobullet {font-size:0.9em}
.prosconssubhead, .testspechead, .prosconshead, .prosconsheadb {color:#c00;font-size:1em;font-weight:bold;padding-bottom:3px;margin:2px 0 0 0}
.prosconssubhead, .testspechead {border-top:solid 1px #000000;}
.clear {line-height:0;font-size:0}
*/
.webextras .TitleBox, .webextras .bodyauthor {display:none;}
.media-image-header {display:block;margin: 50px auto 0 auto;clear:top;}
.highslide img {border:solid 1px #eee;}