@charset "UTF-8";
/* CSS Document */

/* ===== PAGE TITLES ===== */
#pagetitle {
	top: 148px;
	text-align: left;
	z-index: 4;
	left: -4px;
	position: absolute;
	background-color: #A7A7A7;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	width: auto;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	clip: rect(auto,auto,auto,5px);
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	border: 1px solid #CFCFCF;
}
#pagetitlecontactppage, #pagetitlehelppage, #pagetitledownloadsmenu, #pagetitleresearchmenu, #pagetitlecomputermenu, #pagetitledtpmenu, #pagetitlemultimediamenu, #pagetitleinternetconceptsmenu, #pagetitlewebsiteplanningmenu, #pagetitlewebsitebuildingmenu, #pagetitlecssmenu, #pagetitleebusinessmenu, #pagetitlesoundtheorymenu, #pagetitlesoundsynthesismenu, #pagetitledigitalaudiomenu, #pagetitlesoundrecordingmenu, #pagetitlemidisequencingmenu, #pagetitlemusicindustrymenu, #pagetitledigitalvideomenu, #pagetitledvdauthoringmenu, #pagetitleprojectmanagement, #pagetitledigitalmarketingmenu {
	position: absolute;
	width: 960px;
	top: 152px;
	text-align: left;
	height: 80px;
	z-index: 4;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	left: 1px;
}
#pagetitleindexpage {
	background-image: url(../i_media/index/pagetitleindeximage.gif);
	background-repeat: no-repeat;
	position: absolute;
	width: 960px;
	margin: 0px;
	padding: 4px 0px 0px;
	top: 150px;
	text-align: left;
	height: 80px;
	z-index: 4;
	left: 20px;
	border-bottom-style: none;
}
#pagetitledownloadsmenu {
	background-image: url(../downloads/download_media/pagetitledownloadsimage.gif);
	background-repeat: no-repeat;
}
#pagetitleresearchmenu {
	background-image: url(../research/re_media/pagetitleresearchimage.gif);
	background-repeat: no-repeat;
}
#pagetitlecomputermenu {
	background-image: url(../computer/c_media/pagetitlecomputingimage.gif);
	background-repeat: no-repeat;
}
#pagetitledtpmenu {
	background-image: url(../dtp/dtp_media/pagetitledtpimage.gif);
	background-repeat: no-repeat;
}
#pagetitlemultimediamenu {
	background-image: url(../multimedia/mu_media/pagetitlemultimediaimage.gif);
	background-repeat: no-repeat;
}
#pagetitleinternetconceptsmenu {
	background-image: url(../website-design/we_media/pagetitlewebconceptsimage.gif);
	background-repeat: no-repeat;
}
#pagetitlewebsiteplanningmenu {
	background-image: url(../website-design/we_media/pagetitlewebplanimage.gif);
	background-repeat: no-repeat;
}
#pagetitlewebsitebuildingmenu {
	background-image: url(../website-design/we_media/pagetitlewebbuildingimage.gif);
	background-repeat: no-repeat;
}
#pagetitlecssmenu {
	background-image: url(../website-design/we_media/pagetitlecssmenuimage.gif);
	background-repeat: no-repeat;
}
#pagetitleebusinessmenu {
	background-image: url(../ebusiness/ebiz_media/pagetitleebusinessimage.gif);
	background-repeat: no-repeat;
}
#pagetitlesoundtheorymenu {
	background-image: url(../sound-audio-theory/so_media/pagetitlesoundtheoryimage.gif);
	background-repeat: no-repeat;
}
#pagetitlesoundsynthesismenu {
	background-image: url(../synthesis/sy_media/pagetitlesynthimage.gif);
	background-repeat: no-repeat;
}
#pagetitledigitalaudiomenu {
	background-image: url(../digital-audio/dig_media/pagetitledigitalaudioimage.gif);
	background-repeat: no-repeat;
}
#pagetitlesoundrecordingmenu {
	background-image: url(../sound-recording/re_media/pagetitlesoundrecimage.gif);
	background-repeat: no-repeat;
}
#pagetitlemidisequencingmenu {
	background-image: url(../midi-sequencing/se_media/pagetitlemidiimage.gif);
	background-repeat: no-repeat;
}
#pagetitlemusicindustrymenu {
	background-image: url(../music-industry/in_media/pagetitlemusicindustryimage.gif);
	background-repeat: no-repeat;
}
#pagetitledigitalvideomenu {
	background-image: url(../dv/dv_media/pagetitledvimage.gif);
	background-repeat: no-repeat;
}
#pagetitledvdauthoringmenu {
	background-image: url(../dvd/media/pagetitledvdimage.gif);
	background-repeat: no-repeat;
}
#pagetitleprojectmanagement {
	background-image: url(../multimedia/mu_media/pagetitleprojectmanimage.gif);
	background-repeat: no-repeat;
}
#pagetitledigitalmarketingmenu {
	background-image: url(../digital-marketing/media/digital-marketing-header.jpg);
	background-repeat: no-repeat;
	background-position: 0px -10px;
}

#pagetitle h1, #indexpagecolumn1title h1, #musiclabelboxtitle h1 {
	font-family: "Exo 2", sans-serif;
	font-weight: 400;
	font-size: 24px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	line-height: 1em;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#pagetitleindexpage h1, #pagetitlecontactppage h1, #pagetitlehelppage h1, #pagetitledownloadsmenu h1, #pagetitleresearchmenu h1, #pagetitlecomputermenu h1, #pagetitledtpmenu h1, #pagetitlemultimediamenu h1, #pagetitleinternetconceptsmenu h1, #pagetitlewebsiteplanningmenu h1, #pagetitlewebsitebuildingmenu h1, #pagetitlecssmenu h1, #pagetitleebusinessmenu h1, #pagetitlesoundtheorymenu h1, #pagetitlesoundsynthesismenu h1, #pagetitledigitalaudiomenu h1, #pagetitlesoundrecordingmenu h1, #pagetitlemidisequencingmenu h1, #pagetitlemusicindustrymenu h1, #pagetitledigitalvideomenu h1, #pagetitledvdauthoringmenu h1, #pagetitleprojectmanagement h1, #pagetitledigitalmarketingmenu h1 {
	font-family: "Exo 2", sans-serif;
	font-weight: 200;
	font-size: 38px;
	/*font-size: 30px;
	font-weight: bold;
	letter-spacing: -1px;*/
	line-height: 1em;
	color: #FFFFFF;
	
	margin: 0px;
	
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
}
#pagetitleindexpage h2 {
	padding-left: 7px;
	color: #E5E5E5;
	font-size: 11px;
	padding-right: 7px;
	margin: 0px;
	padding-top: 0px;
	font-weight: normal;
	letter-spacing: 1px;
}
