@charset "UTF-8";
/* CSS Document */

#subscribe_follow_page_header {
	position: absolute;
	z-index: 10;
	width: 950px;
	margin: 0px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
	bottom: 0px;
	background-color: #303030;
	height: 30px;
}

#subscribe_follow_page_header table {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;	
}
.subscribe_follow_text_labels {
	font-size: 10px;
	color: #999;
	text-transform: uppercase;
}
.follow_share_tablestyle {
	text-align: left;
	border-collapse: collapse;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.follow_share_tablestyle tr {
/*	vertical-align: top;*/
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.follow_share_tablestyle td {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

/* ===== SOCIAL MEDIA (NAVBAR) TABLES ===== */
/*.subscribe_nav_tablestyle {
	text-align: left;
	border-collapse: collapse;
}
.subscribe_nav_tablestyle {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	float: left;
	margin-right: 5px;
}
.subscribe_nav_tablestyle tr {
	vertical-align: top;
	border-bottom-style: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	font-size: 12px;
	color: #FFF;
}
.subscribe_nav_tablestyle td {
	line-height: 1em;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	
}
.subscribe_nav_tablestyle td {
	border-bottom-style: none;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
	padding-left: 0px;
}*/
/* ===== SHARE BY EMAIL BUTTON LINK in NAVBAR===== */
#tellafriend {
	height: 10px;
	/*float: left;*/
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px; /*Add this for the time bing for FireFox support.*/
	border-radius: 3px; /*This is the basic CSS3 code for rounded corners.Works in Safari/Chrome, Opera and IE9,*/
	/*	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 2px;
	margin-left: 0px;*/
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 49%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 49%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 49%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 49%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(255,255,255,1) 49%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
#tellafriend p {
	font-size: 9px;
	line-height: 10px;
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
}

#tellafriend a {
	text-decoration: none;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #333333;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
#tellafriend a:hover {
	color: #333333;
}
#subscribe-mail-list {
	width: auto;
	height: 17px;
	margin-left: 5px;
}
#subscribe-mail-list a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 17px;
	letter-spacing: 1px;
	padding-right: 5px;
	padding-left: 5px;
	margin: 0px;
	background-color: #FC1D00;
	/*border: 1px solid #999;*/
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
#subscribe-mail-list a:hover {
	background-color: #000;
}
