@charset "UTF-8";
/* CSS Document */

/* ===== TABLES ===== */
.tablestyle {
	font-size: 10px;
	text-align: left;
	background-color: #CCCCCC;
	border-collapse: collapse;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.tablestyle p {
		font-size: 11px;
}
.table_subheading {
	color: #FFFFFF;
	background-color: #666666;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
.table_subheading2 {
	color: #FFFFFF;
	background-color: #999999;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
th {
	color: #FFFFFF;
	background-color: #333333;
	font-size: 11px;
	padding: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}
tr {
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
}
td {
	padding: 5px;
	border-right-width: 2px;
	border-right-style: solid;
	border-right-color: #D6D6D6;
	line-height: 1.2em;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
}




.fill_red {
	background-color: #CC0000;
}
.fill_yellow {
	background-color: #FF9900;
}
