/* start of Andeh's new bites */

#header-block {
	margin-bottom:20px;
}

#content-block, #latest-block {
	margin:20px 0;
	padding:20px 0 0 0;
	border-top: solid 1px #eeeeee;
}

#latest-block {
	/* background-color: #eeeeee; */
}

.hpLateS, .hpLateD {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;

}

.hpLateS {
	font-size: 2em;
	line-height: .4em;
	color: #cc0000;
	margin-top: 20px;
}
.hpLateD {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3f3f3f;
	font-size: 2em;
	font-weight: bold;
}

#latest-block .ContentsSection {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3f3f3f;
	background: transparent;
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0;
	margin: 0 0 2px 0;
	padding: 0;
	text-align: left;
}

#latest-block .ContentsTitle {
	font-size: 1.2em;
	font-weight: normal;
}

#latest-block .ContentsSubTitle {
	font-size: 1em;
	font-weight: normal;
}

#latest-block .ContentsRule {
	border-bottom: 0;
	padding: 0 0 2px 0;
	margin: 0 10px 4px 0;
}
#left-block {
	float: left;
	margin-right:10px;
}

#right-block {
	float: right;
}

#dshL, #dshR {
	width: 45px;
	height: 20px;
}
#dshL {
	background-image:url(/images/b_sh_l.png);
	float: left;
}
#dshR {
	background-image:url(/images/b_sh_r.png);
	float: right;
}

#dshC {
	height: 20px;
	background-image:url(/images/b_sh_c.png);
	background-repeat:repeat-x;
}

.hpSecH {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: bold;
	font-style: normal;
}

#hpSecGap {
	height: 20px;
}

.hpArtH {
	margin: 0;
	padding: 0;
	font-size: 1.4em;
	line-height: 1.2em;
	font-weight: normal;
	font-style: normal;
}

.hpArtL {
	 padding: 0;
	 margin-bottom: 10px;
}


/* end of Andeh's new bites */


body
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	font-size:12px;
	margin: 0px;
	background:url('/images/bg_fade_9999999.jpg') repeat-x;
	background-color: #999999;
	background-position: center top;
	/* background-attachment: fixed; */
	width:100%;
}
.adblk {text-align:center;padding:10px 0 10px 0;}
.adblk.top {padding-top:0;}
.adblk iframe, #bannerad iframe, #SOS_footer_728x90 iframe {border:1px solid #eee !important;}
#SOS_footer_728x90 { width: 728px; margin: 0 auto; }
#t, #header {width:1000px;margin:0 auto;}
#header {position:absolute;top:0px;padding-top:5px;height:149px;background-color:#fff;font-size:0.9em;min-width:932px;}
#PageTitle {margin-left:5px;}
.colmask {position:relative;clear:both;float:left;width:1000px;overflow:hidden;margin-top:154px;background:#fff;}
.colright,.colmid,.colleft {float:left;width:1000px;position:relative;}
.col1,.col2,.col3 {float:left;position:relative;padding:0 0 1em 0;overflow:hidden;}
.threecol {background:#fff;}
.threecol .colmid {right:160px;background:#fff;}
.threecol .colleft {right:680px;background:#fff;}
.threecol .col1 {width:670px;left:1005px;}
.threecol .col2 {width:150px;left:175px;}
.threecol .col3 {width:150px;left:865px;}
.twocol .colleft {right:160px;background:#fff;}
.twocol .col1 {width:830px;left:170px;}
.twocol .col3 {width:150px;left:175px;}
.print .twocol .col3 {width:200px;left:190px;}
.print .twocol .col1 {width:760px;}
.print #header {height:130px;}
.col1.print {width:820px;margin-right:10px;}
.sbblkhdr {margin-top:4px;padding: 4px;font-weight:bold;color:#ffffff;background:url(/images/blackfade_bg.gif) repeat-x;text-align:center}
#logo {clear:both;float:left;font-size:10px;height:90px;position:relative;}
#logo p {margin-left:10px;position:absolute;top:77px;left:15px;color:#999;margin:0;}
.dwnzip {width:300px;border:solid 1px #afafaf;height:16px;margin:10px 0;padding:14px 10px 10px 56px;background:url(/images/download_zip.jpg) no-repeat;}
.dwnsize {color:#666;}
#bannerad{height:92px;width:730px;overflow:hidden;margin-right:12px;float:right;}
#navhldr {z-index:99;width:900px;padding:0 0 0 100px;margin-top:6px;height:20px;background:url('/images/s.png') 0 -821px repeat-x;}

#newfooter {clear:both;text-align:center;color:#ffffff;width:1000px;background:url('/images/s.png') 0 -848px repeat-x #000000;padding:10px 0 10px 0;margin:0;}
#newfooter #col0, #newfooter #col1, #newfooter #col2, #newfooter #col3, #newfooter #col4, #newfooter #col5 { margin:0px 15px 2px 15px; padding:0px; text-align:left; float: left;}
#newfooter #col0 {width:270px;}
#newfooter #colbase { margin:0 10px 0 10px; padding-top:10px; clear:both; background: #000; }
#newfooter h2, #newfooter h3 {border:0;margin:0 0 10px 0;padding:0;font-weight:normal;font-size:1em}
#newfooter h2 { color: #cccccc; font-size:1.3em; font-weight:bold; letter-spacing:-1px;  }
#newfooter h3 { color: #999999; margin-top:-9px; }
#newfooter p { margin:0; padding:0; color: #cccccc; font-size:10px; line-height:1.2em; }
#newfooter a { text-decoration: none; color: #cccccc; }
#newfooter a:hover { text-decoration: underline; color: #cccccc; }
#newfooter h3 a { text-decoration: none; color: #999999; }
#newfooter h3 a:hover { text-decoration: underline; color: #999999; }

.footer1st{clear:both;text-align:center;}
.twocol #footer1st {margin-left:150px;}
input:focus{background-color:#ff9}
select:focus{background-color:#ff9}
form {margin:0px}
#topspacer {clear:all;height:8px;font-size:1pt}
html>body #topspacer{height:12px}
#topspacerFFPC {clear:all;height:6px;font-size:1pt}
#pageTitle{padding-top:5px}

.LoginBox0 {background:#ff6;border:1px solid #000;padding:4px;}
.LoginBox1{background:#ddd;border:1px solid #000;padding:4px;}

.pageBtn {font-family:verdana;border-left:solid 1px #9ab;font-size:1.1em;width:20px;background:#456;color:#cde;padding:4px;text-align:center;float:right;cursor:pointer}
p
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;

}
.warning {
  color: #990000;
  font-weight: bold;
  font-size: 0.9em;
}
li
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;

}
.xhead
{
	text-align: center;
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.xheadleft
{
	text-align: left;
	color: #CC0000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}
.inputdis {
  background-color: #cccccc;
  color: #888;
}
.inputen {
  background-color: #fff;
  color: #000;
}
#Preview {
  height: 100px;
  width: 350px;
  border: solid 1px black;
  padding: 3px;
}
.warningtext
{
	font-weight: bold;
	color: #990033;
	background-color: #ffff66;
	padding: 3px;
	text-align: center;
	border: solid 1px #990033;
}

.smallblacktext
{
	color: #000000;
	font-size: 11px;
}
.mediumblacktext
{
	color: #000000;
	font-size: 14px;
}
.largeblacktext
{
	color: #000000;
	font-size: 17px;
}
.smallgreytext
{
	color: gray;
	font-size: 11px;
}
.mediumgreytext
{
	color: gray;
	font-size: 14px;
}
.largegreytext
{
	color: gray;
	font-size: 17px;
}
.smallredtext
{
	color: #CC0000;
	font-size: 11px;
}
.mediumredtext
{
	color: #CC0000;
	font-size: 14px;
}
.largeredtext
{
	color: #CC0000;
	font-size: 17px;
}

.highlight { color: #CC0000; }

.copyright
{
	text-align: center;
	color: #696969;
	font-size: 10px;
	padding: 5px;
}

.navtext
{
	color: #000000;
	font-weight: normal;
	font-size: 11px;
}

.navbox { background-color: #ffffff; }
.navoutline { background-color: #c0c0c0; }

.boxleft1
{
	padding-bottom: 5px;
}

.boxleft2
{
	padding-bottom: 5px;
}

.boxright1
{
	padding-bottom: 5px;
}

.comptextq
{
	color: #CC0000;
	font-size: 14px;
	padding-bottom: 6px;
	padding-top: 5px;
}

.comptexta
{
	color: #000000;

	margin-left: 20px;
	padding-bottom: 2px;
}

.comptext
{
	color: #000000;
	font-size: 11px;
	padding-bottom: 3px;
}

.compbox
{
	background-color: #dcdcdc;
	border: solid 1px #000000;
	width: 170px;
	padding: 7px;
}

.compfield { margin-left: -20px; }

.compdonate
{
	color: #000000;
	font-size: 11px;
	padding-bottom: 2px;
}

.soundbanktext
{
	color: #000000;
	font-size: 11px;
	padding-bottom: 3px;
	margin-left: 20px;
}

.soundbankbox
{
	background-color: #dcdcdc;
	border: solid 1px #000000;
	width: 140px;
	padding: 5px;
}

.soundbankicon { margin-left: -20px; }

.questions
{
	color: #000000;
	font-size: 16px;
	border-top: solid 4px #000000;
	padding-top: 4px;
}

.questionsQ
{
	font-weight: bold;
	color: #CC0000;
	font-size: 30px;
}

.box { background-color: #a8a8a8; }

.boxheader
{
	color: #fff;
	font-weight: bold;
}

.headers
{
	color: #000000;
	font-size: 18px;
}

.boxpcs {}

.boxpcsinside
{
	background-color: #dcdcdc;
	border: solid 1px #666666;
	padding: 5px;
	font-size:0.9em;
}

.prosconshead
{
	color: #CC0000;
	font-weight: bold;

	padding-bottom: 3px;
}

.prosconssub
{
	color: #CC0000;

	font-weight: bold;
	border-top: solid 1px #666666;
	padding-bottom: 3px;
}

.pcsibullet { margin-left: -7px; }

.prosconstext
{
	color: #000000;
	font-size: 10px;
	padding-bottom: 3px;
	margin-left: 7px;
}

.pcsiicon { margin-left: -15px; }

.infotext
{
	color: #000000;
	font-size: 10px;
	margin-left: 15px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.infohead
{
	color: #000000;
	font-weight: bold;
	font-size: 11px;
}

.outline { background-color: #000000; }

.cthead
{
	color: #CC0000;
	font-weight: bold;
	font-size: 18px;
	border-top: solid 4px #000000;
	padding-top: 4px;
}

.ddsshead
{
	color: #CC0000;
	font-weight: bold;
	font-size: 18px;
	padding-top: 8px;
}

.ddssgear
{
	color: #gray;
	font-size: 14px;
}

.ddssQhead
{
	color: #000000;
	font-size: 14px;
	background-color: #dcdcdc;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 5px;
}

.pluginhead
{
	color: #CC0000;
	font-weight: bold;
	font-size: 16px;
	padding-top: 4px;
}

.starrating {
	float:left;
	width:20px;
	height: 20px;
	background: url('/images/SampleShopStar.jpg') no-repeat 0 0;
	color: #ffffff;
	font-size:14px;
	letter-spacing: -1;
	font-weight: bold;
	padding: 22px 25px 20px 68px;
	text-align: center;
}

.pluginsubhead
{
	color: #gray;

}

.introtextbold
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}

.introtext
{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 5px;
}

.TitleBox { background-color: #ffffff; }

.SectionSubject
{
	font-size: 11px;
	color: gray;
	border: solid 1px gray;
	padding: 3px;
}

.credit
{
	color: #000000;
	text-align: right;
	font-size: 10px;
}

.caption
{
	display:block;
	font-size: 0.9em;
	color: #666;
	padding-top: 5px;
	padding-bottom: 5px;
}

.author
{
	font-size: 11px;
	color: gray;
	font-weight: bold;
	border-top: solid 1px gray;
	width: 100%;
	padding-top: 4px;
}

.bodytext
{
	color: #000000;

}

.bodytextbullet
{
	color: #000000;

	margin-left: 7px;
}

.tabletext { font-size: 10px; }

.boxhead
{
	color: #ffffff;
	font-weight: bold;

	background-color: #000000;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.boxcrosshead
{
	text-align: left;
	font-weight: bold;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
}

.boxtext
{
	color: #000000;
	font-size: 11px;
	background-color: #dcdcdc;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
	margin:0;
}

.boxtexttable
{
	color: #000000;
	font-size: 10px;
}

.boxtextbullet
{
	color: #000000;
	font-size: 10px;
	background-color: #dcdcdc;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-indent: 8px;
}

.boxtextinfo
{
	color: #000000;
	font-size: 10px;
	background-color: #dcdcdc;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-indent: 15px;
}

.spectext
{
	color: #000000;
	font-size: 10px;
	background-color: #dcdcdc;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
}

.spechead
{
	color: #ffffff;
	font-weight: bold;

	border-bottom: solid 2px #ffffff;
	background-color: #000000;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.spectextbullet
{
	color: #000000;
	font-size: 10px;
	background-color: #dcdcdc;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-indent: 8px;
}

.Line { border-bottom: solid 1px #000000; }
.UserInput {  }

.PageHeader
{
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
}

.ContentsTitle
{
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: left;
	padding-top: 4px;
	margin:0;
}

.ContentsSubTitle
{
	font-size: 11px;
	font-weight: bold;
	text-align: left;
	margin:0;
}
.ContentsSection
{
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 2px;
	background: #a00000;
	padding: 1px;
	color: #ffffff;
	text-align: center;
	margin-top: 4px;
}

.ContentsSummary {color:#666;margin:2px 0 0 0; }
.ContentsSummary p {color:#666;margin:0;}
.hpArtList p {margin:0}
.hpArtList ul {margin-top:4px;}
.WOB {margin-bottom:0}
.ContentImage
{
	height: 50px;
	width: 50px;
	border: none;
	float: left;
	margin-right: 4px;margin-top: 2px;
	overflow: hidden;
}
.hpArtList p.ContentImage {margin-right: 4px;margin-top: 2px;}
.ContentsRule
{
	border-bottom: solid 1px #dcdcdc;
	padding-bottom: 2px;
	padding-top: 2px;
	margin:0;
}

.CurrentIssueBox
{
	border: solid 0px gray;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 5px;
	background: url(/images/grd_lgt_ffe88e.jpg) repeat-x; background-color: #ffe88e;
}
.CurrentIssueBox td {font-size:0.917em;padding-top:4px;}
.CurrentIssueBox .introtext {font-size:1.667em;}
.CurrentIssueBox .introtext2 {font-size:1.333em;margin:0;font-weight:bold;}

.adListing { font-size: 11px; }

.adTrade
{
	font-size: 11px;
	color: #ffffff;
	background-color: gray;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

.adPhone { color: #000000; }
.adContact { color: #000000; }
.adEmail { font-weight: bold; }
.adLocation { color: gray; }

.adDate
{
	color: #cc0000;
	text-align: right;
}

.eSubOnly
{
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #ffffff;
	background-color: gray;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

.footer
{
	text-align: center;
	padding: 5px;
	font-size: 10px;
}

.Small { font-size: 10px; }

.SmallBold
{
	font-size: 10px;
	font-weight: bold;
}

.SearchHeader
{
	font-size: 10px;
	font-weight: bold;
}

.Issue
{
	font-size: 10px;
	color: #000000;
}

.Section
{
	font-size: 9px;
	color: #000000;
}

th
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;

	text-align: left;
}

td
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;

}

.Label
{
	text-align: left;
	font-weight: bold;
	font-size: 10px;
}

.LeftLink { font-size: 11px; }
.RightLink { font-size: 11px; }


.shTitle
{
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	border: solid 1px gray;
	padding: 4px;
}

.shSubTitle
{

	font-weight: normal;
	color: #000000;
}

.shPrice
{

	font-weight: bold;
	background-color: #f5f5f5;
	padding: 1px;
	border: solid 1px gray;
}

.ip_ci_topic_table { font-family: Arial, Helvetica, sans-serif; }
.ip_ci_topic_title { background-color: #FFFFFF; }
.ip_ci_topic_alt1 { font-size: 11px; }

.ip_ci_topic_alt2
{
	font-size: 11px;
	background-color: #EEE8AA;
}

.WOB
{
	color: #ffffff;
	background:url(/images/blackfade_bg.gif) repeat-x;
	padding: 2px;
	text-align: center;
	align: absmiddle;
}
.NewsTitle
{
	color: #CC0000;
	font-weight: bold;
	font-size: 1.2em;
	font-family: Arial, Helvetica, sans-serif;
}

.NewsSubTitle
{
	font-weight: bold;
	padding-bottom:4px;
}

.NewsBody { margin: 5px 0 10px 0; }

.NewsSummary
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top: 5px;
}

.NewsDate { font-size: 0.9em;display:block; }

.NewsRule
{
	border-bottom: solid 1px black;
	height: 1px;
	margin-top: 3px;
}

.NewsCategory
{
	font-size: 0.9em;
	color: #999999;
}

#hpnews .ntitle
{
	font-weight: normal;
	font-size: 1.2em; font-family: Arial, Helvetica,sans-serif;
	margin:0;
}
.NewsHArticle {clear:both}
#hpnews p {margin:0}
#hpnews h3 {margin:4px 0 1 0;}
#hpnews .nsubtitle
{
	font-size: 1em;
	font-weight: normal;
	margin:0;
}
#hpnews .nartblk { clear:both }
.nartblk img {border:1px solid #ddd;}
#hpnews .nrule { border-top: 1px solid #cccccc; margin:4px 0 0; padding-top:4px; }

.nthumb { border:0; float:left; padding:4px 6px 2px 0}
.NewsHMore {float:right;font-size:0.9em;vertical-align:bottom}
.NewsHBullet {font-family: Verdana,Arial, Helvetica,sans-serif;font-size: 1em;}
#hpnews .nsummary
{
	font-size: 0.9em;
	font-weight: normal;
	padding-top: 2px;
	color:#666;
	margin:0;
}

a
{
	text-decoration: none;
	color: blue;
}

a:link
{
	text-decoration: none;
	color: #1a498c;
}

a:visited
{
	text-decoration: none;
	color: #990000;
}

a:hover { text-decoration: underline; }
a:active { color: #8B0000; }

.Reverse
{
	color: #ffffff;
	background-color: gray;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	border: solid 1px gray;
	padding: 2px;
}

.Border
{
	text-align: center;
	border: solid 1px gray;
	padding: 2px;
}

.ForumSubject { font-weight: bold; }
.ForumPostDate { font-size: 8pt; }
.ForumPoster { font-size: 8pt; }
.ForumBody { font-size: 8pt; }
.ForumTitle { font-weight: bold; }
.ForumTag { }

.Error
{
	background-color: #ffeeee;
	color: #990000;
	margin: 2px;
	padding: 2px;
	padding-left: 10px;
	border: solid 1px #990000;
}

.CSWDImage
{
	border: none;
	margin-right: 5px;
	margin-top: 2px;
	padding-left: 5px;
}

.CSWDtitle
{
	font-size: 16px;
	font-family: Gill Sans, Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	padding-top: 5px;
}

.CSWDContact { margin-top: 5px; }
.CSWDspacer { margin-top: 5px; }

.CSWDPageHeader
{
	font-size: 18px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-bottom: 5px;
	color: #990000;
}

.CSWDHomeCat
{
	width: 100%;

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
    letter-spacing: 1pt;
    color: #000000;
	padding-left: 1px;
	padding-right: 2px;
}

.CSWDHomeCatText
{
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
    color: #666666;
	padding-left: 1px;
	padding-right: 2px;
}

.CSWDLinkButtons
{
	border-right: #a00000 3px solid;
	border-top: #e00000 3px solid;
	padding-left: 3px;
	padding-right: 4px;
	font-size: 8pt;
	border-left: #e00000 3px solid;
	border-bottom: #a00000 3px solid;
	text-align: left;
}

.CSWDLinkButtons a { color: #ffffff; }
.CSWDLinkButtons a:visited
{
	color: #ffffff;
	text-decoration: none;
}
.CSWDLinkButtons a:link
{
	color: #ffffff;
	text-decoration: none;
}

.CSWDLinkButtons a:hover
{
	display: block;
	text-decoration: none;
}

.WOR
{
	color: #ffffff;
	background-color: #990000;
	padding: 2px;
	text-align: center;
	align: absmiddle;
}

.WORL
{
	color: #ffffff;
	background-color: #990000;
	padding: 2px;
	text-align: left;
	align: absmiddle;
}

.fmt {float:right;margin-bottom:3px}
.fmt a {color: #fff}
.fmt a:hover {text-decoration: none}
.fmt-p, .fmt-d, .fmt-h, .fmt-pi, .fmt-px, .fmt-di, .fmt-dx, .fmt-hi, .BuyPDF
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #ffffff;
	background-color: #cc0000;
	text-align: center;
	valign: middle;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	vertical-align: middle;
	background-repeat: no-repeat;
}
.fmt-h {background: #282}
.fmt-hi {background: #8b8}
.fmt-d {background: #228}
.fmt-di {background: #aad}
.fmt-pi {background:#eaa}
.fmt-px, .fmt-dx {background:#ccc}
.fmt {font-size:10px}
.fmt-p:hover, .fmt-pi:hover, .fmt-d:hover, .fmt-di:hover, .fmt-h:hover, .fmt-hi:hover {border-bottom:3px solid #555}

img#infobox
{
	left: center;
	border: 0px;
	width: 60px;
	margin-bottom: 3px;
}

span a.infobox
{
	text-decoration: none;
	color: #ffffff;
}

span a.infobox span.comment
{
	visibility: hidden;
	display: block;
	border: 2px solid;
	width: 100px;
	position: absolute;
	margin: 2px;
	padding: 5px;
	text-decoration: none;
	color: black;
	font-size: 10px;
	background: white;
}

span a:hover.infobox
{
	float: none;
	color: #c0c0c0;
}
span a:hover.infobox span.comment { visibility: visible; }
.ArtLink {
	background-color: #f5f5f5;
	background-image: url('/images/s.png');
	background-position: -10px -40px;
	background-repeat: no-repeat;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	text-indent: 10px;
}
a.ArtLink {font-size:1em}
html>body .ArtLink {font-size:0.96em;}
.ArtLinkPanel {
	background-color: #f5f5f5;
	margin-bottom: 6px;
	padding-bottom:2px;
	font-weight: bold;
	border: solid 1px #666666;
	font-size: small;
}
a.ArtLink {
	background-image: none;
}
.ArtLinkPanelHdr {
	font-size: small;
	padding:2px 2px 0px 4px;
	height:20px;
	color: #ffffff;
	background-color: #666666;
	margin:0;
}
.listingLight {
	color: #000000;
	background-color: #ffffff;
}
.listingDark {
	color: #000000;
	background-color: #f5f5f5;
}
.listingHeader {
	color: #fff;
	background-color: #cccccc;
	font-weight: bold;
}
.privMsg {
	font-size:smaller;
}
ul {margin:0 0 0 -24px;border:0px;}
li {margin-top:2px;font-size:1em;}
#forums ul {padding:0;margin:0;}
.ui-tabs-panel {padding:8px;border:1px solid #97A5B0;}
.bullet {
   list-style:url('/images/bullet.gif') outside;
   margin-bottom:2px;
 }
.captcha {margin-top:4px}
.frmlk {font-weight:normal;font-size:0.9em;}
.frmlk a {color:#000;font-weight:normal;}
.login li {font-size:0.9em}
ul.forum li:before {content:"\00BB \0020";}
ul.forum {list-style:none;margin-left /*\**/:18px\9}
.bullet p {margin:0;font-size:1em;}

/* Menus */
.jquerycssmenu{font:bold 11px Verdana;}
.jquerycssmenu ul{margin:0;padding:0;list-style-type: none;background:#f00;z-index:99;}
.jquerycssmenu ul li{position:relative;display:inline;float:left;padding:0;}
.jquerycssmenu ul li a{display:block;background:none;padding:2px 10px;color:#fff;text-decoration:none;}
.jquerycssmenu ul li a:hover{background:#f00;}
.jquerycssmenu ul li ul{position: absolute;left:0;display:block;visibility:hidden;border:none;background:#999;padding:0;margin:0;}
.jquerycssmenu ul li ul li{display:list-item;float:none;padding:0;margin:0;}
.jquerycssmenu ul li ul li ul{top:0px;}
.jquerycssmenu ul li ul li a{font:normal 11px Verdana;width:160px;background:#666;color:#fff;padding:4px 0 4px 6px;margin:0 0 1px 0;border-top-width:0;}
.jquerycssmenu ul li ul.mnuforum li a, .jquerycssmenu ul li ul.technique li a{width:220px;}
.jquerycssmenu ul li ul.shop li a, .jquerycssmenu ul li ul.adcat li a{width:200px;}
.jquerycssmenu ul li ul li a:hover{background:#bbb;color:#fff;}
.downarrowclass{position:absolute;top:2px;right:5px;}
.rightarrowclass{position:absolute;top:3px;right:5px;}
/* Login box */
#container {width:275px;float:right;z-index:2000;}
#content {width:520px;min-height:500px;}
#topnav #uname {display:inline-block;max-width:100px;overflow:hidden;font-weight:bold;height:15px;white-space:nowrap;}
#topnav a:link, #topnav a:visited {color:#27b;text-decoration:none;}
#topnav a:hover {text-decoration:underline;}
#topnav a img {border-width:0;}
#topnav {padding:0 12px 4px 0px;line-height:23px;text-align:right;}
#topnav a.signin {background:#88bbd4;padding:4px 6px 6px;text-decoration:none;font-weight:bold;color:#fff;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*background:#88bbd4 url("/images/nav/signin-nav-bg-ie.png") no-repeat 0 0;*padding:0px 2px 0px 6px;}
#topnav a.signin:hover {background:#59B;*background:#59B url("/images/nav/signin-nav-bg-hover-ie.png") no-repeat 0 0;*padding:0px 2px 0px 6px;}
#topnav a.notlog, #topnav a.notlog:hover {*background-color:transparent;*padding:4px 10px 6px;}
#topnav a.signin, #topnav a.signin:hover {*background-position:0 3px!important;}
a.signin {position:relative;margin-left:3px;}
a.signin span {background-image:url("/images/s.png");background-repeat:no-repeat;background-position: 61px -243px;padding:4px 19px 6px 0;}
a.notlog span {background-position:30px -243px;}
#topnav a.menu-open {background:#ddeef6!important;color:#666!important;outline:none;}
#small_signup {display:inline;float:none;line-height:23px;margin:25px 0 0;width:170px;}
a.signin.menu-open span {background-image:url("/images/s.png");background-position:61px -733px;color:#789;}
a.notlog.menu-open span {background-position:30px -733px;}
#signin_menu {-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;display:none;background-color:#ddeef6;position:absolute;width:210px;z-index:1000;border:1px transparent;text-align:left;padding:8px 12px;top:20.5px;right:0px;margin-top:5px;margin-right:0px;*margin-right:-1px;color:#789;font-size:1.2em;}
#signin_menu input[type=text], #signin_menu input[type=password] {display:block;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid #ACE;font-size:13px;margin:0 0 5px;padding:5px;width:203px;}
#signin_menu p {margin:0;}
#signin_menu a {color:#6AC;}
#signin_menu label {font-weight:normal;}
#signin_menu p.remember {padding:10px 0 0 0;}
#signin_menu p.persist {margin-left:69px;}
#signin_menu p.forgot, #signin_menu p.complete {clear:both;margin:5px 0;}
#signin_menu p a {color:#27B!important;}
#signin_submit {-moz-border-radius:4px;-webkit-border-radius:4px;background:#39d url('/images/nav/bg-btn-blue.png') repeat-x scroll 0 0;border:1px solid #39D;color:#fff;text-shadow:0 -1px 0 #39d;padding:4px 10px 5px;font-size:11px;margin:0 5px 0 0;font-weight:bold;}
#signin_submit::-moz-focus-inner {padding:0;border:0;}
#signin_submit:hover, #signin_submit:focus {background-position:0 -5px;cursor:pointer;}
/*Top links */
#tlk {float:left;margin:5px 0 0 10px;width:445px;}
#tlk, #tlk a,#tlk a:visited{color:#333;}
#tlk a:hover{color:#f00;}
#tlkd {float:left;color:#aaa;text-align:center;margin:0.4em 0 0 6px;width:94px;height:14px;}
#navsrch {float:left;margin:0 5px 2px 0;width:148px;}
#navsrch img {padding-bottom:2px;}
#navsrch #Keyword {border:none;font-size:smaller;width:112px;margin:0 2px 0 2px;height:16px;padding:0 2px 0 2px;border:1px solid #999;-moz-border-radius:4px;-webkit-border-radius:4px;background:#ddd;}
.highslide-caption {font-size:11px;display:none;}
.highslide img {border:0;}
.imgr .imgr img {float:none;}
.highslide-thumbstrip-vertical img {height:auto;margin-bottom:10px;}

#sc, #sc .scleft, #sc .scright {background:url('/images/sc.png') no-repeat top left;height:81px;}
#sc .scleft, #sc .scright {display:inline-block;}
#sc {margin:4px 0 4px 0;width:100%;background-repeat:repeat-x;background-position:left -83px;text-align:right;}
#sc .scleft {width:65px;float:left;}
#sc .scright {width:22px;float:right;background-position:-173px top;}
#sc a:hover {background-position:-65px top;}
#ContentsList {overflow:hidden;}

/* Sprited generic images */
#frss, #fb, #twit, #go, #gpl, #scl, #top, .rss16, .da, .ra, #logol, #sclogo {display:inline-block;background:url('/images/s.png') 0 0 no-repeat;}
#go {height:13px;width:6px;background-position:-10px -450px;padding:2px 0 0 20px;}
.rss16 {background-position:-11px -501px;width:17px;height:16px;}
#top {background-position:-10px -12px;width:25px;height:10px;}
#sclogo {background-position:-10px -757px;width:87px;height:17px;margin-top:64px;}
.da {width:15px;height:10px;background-position:-5px -395px;}
.ra {float:right;width:15px;height:14px;background-position:-5px -426px;}
#scl, #frss, #twit, #fb, #gpl {display:inline-block;margin:10px 5px 0 0;}

#frss, #fb, #twit, #gpl, #scl {height:30px; width:30px;}

#frss {background-position:-150px -350px;}
#fb {background-position:-150px -390px;}
#twit {background-position:-150px -430px;}
#gpl {background-position:-150px -470px;}
#scl {background-position:-150px -510px;}


a.spr:hover {text-decoration:none !important;}
#logol {height:40px;width:250px;background-position:0 -700px;}

/*****************************************************************************/
/* Styles for the HTML popups											     */
/* Remove these if you are not using Highslide HTML						     */
/*****************************************************************************/
.highslide-maincontent {
	display: none;
}
.highslide-html {
	background-color: white;
}
.highslide-html-content {
	display: none;
	width: 400px;
	padding: 0 5px 5px 5px;
}
.highslide-header {
	padding-bottom: 5px;
}
.highslide-header ul {
	margin: 0;
	padding: 0;
	text-align: right;
}
.highslide-header ul li {
	display: inline;
	padding-left: 1em;
}
.highslide-header ul li.highslide-previous, .highslide-header ul li.highslide-next {
	display: none;
}
.highslide-header a {
	font-weight: bold;
	color: gray;
	text-transform: uppercase;
	text-decoration: none;
}
.highslide-header a:hover {
	color: black;
}
.highslide-header .highslide-move a {
	cursor: move;
}
.highslide-footer {
	height: 16px;
}
.highslide-footer .highslide-resize {
	display: block;
	float: right;
	margin-top: 5px;
	height: 11px;
	width: 11px;
	background: url(graphics/resize.gif) no-repeat;
}
.highslide-footer .highslide-resize span {
	display: none;
}
.highslide-body {
}
.highslide-resize {
	cursor: nw-resize;
}
.print {font-size:12pt !important;}
#loginbox {float:right;border:1px solid #999;padding:0;margin:10px;background:#ddd;}
#loginbox .WOB {margin:0}
#blkspam {display:none;}
.inline-right {float:right;margin:5px 0 5px 10px;}
.inline-left {float:left;margin:5px 10px 5px 0;}
.imagecaption {display:block;margin:5px 0;}
.imagecaption strong {font-weight:normal;font-size:0.9em;color:#666;}

#SOS_video_360 {height:235px;z-index:-99;}
#SOS_video_360 iframe {height:235px;}
.post img {max-width:100%;}


.webonly, .pdfweb {
  font-size: 9px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #ccc;
  padding: 2px 0 3px 0;/*previously 4px*/
  text-align: center;
  /*border-radius: 12px;*/
  border-top-left-radius:50px 100px;
  border-bottom-left-radius:50px 100px;
  border-top-right-radius:50px 100px;
  border-bottom-right-radius:50px 100px;
  width: 24px;/*previously 19px*/
  height: 9px; /*previously 11px*/
  display: block;
  font-weight:normal !important;
  float: left;
  margin-right: 3px;
}

td.text .webonly {
	font-size: 100%;
	width: 24px;
	height: 9px;
	float:none;
	display:inline-block;
	padding-bottom:6px;
	padding-top:0;

}

.pdfweb {display:inline-block; float:right; margin-right:495px; margin-top:3px;}

a.webonly:hover { text-decoration: none; }

